# Dependencies
node_modules/
*/node_modules/

# Production builds
build/
dist/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Backups
backups/*.json
backups/*.sqlite

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
